@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Bungee Spice", sans-serif;
  background: #2a2438;
}

ul {
  list-style: none;
  color: #8c00ff1a;
}
